# MariaDB
MYSQL_HOST=localhost
MYSQL_DATABASE=risk_platform
MYSQL_USER=risk_user
MYSQL_PASSWORD=risk_password
MYSQL_ROOT_PASSWORD=root_password
MYSQL_PORT=3306

# Kafka
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_CONSUMER_GROUP_ID=risk-platform-local
KAFKA_PORT=9092
KAFKA_UI_PORT=8085

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# Spring
SPRING_PROFILES_ACTIVE=local
FDS_EVALUATION_MODE=async
